html,body{
    margin: 0;
    height: 100%;
    background:#aaa;
    // background:linear-gradient(135deg, #9236ff 0%,#f763c6 33%,#ff9292 66%,#fff7e1 100%)
    // background:blue;
    // box-sizing: border-box;
  }

  .cloak{
    position: absolute;
    // top:-20px;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    z-index: 100;
  }

  .add-note{
    width:60px;
    height:60px;
    border-radius:50%;
    border:none;
    background-color:#6039e0;
    color:#fff;
    position:fixed;
    right: 20px;
    bottom:40px;
    box-shadow: 0px 0px 0px 4px #6039e066;
    animation: pulse 2s infinite;
    box-shadow:none;
    cursor:pointer;

    .icon-zengjia{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
    }
  }
  .btn-toTop{
    width:60px;
    height:60px;
    border-radius:50%;
    border:none;
    background-color:#6039e0;
    color:#fff;
    position:fixed;
    right: 20px;
    bottom:130px;
    box-shadow: 0px 0px 0px 4px #6039e066;
    animation: pulse 2s infinite;
    box-shadow:none;
    cursor:pointer;

    .icon-shang{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
    }
  }
  ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  body{
    font: 14px/1.4 'Arial';
  }
  a{
    text-decoration: none;
    color: #fff;
  }
  
  
  #header {
    // margin-left:5px;
    // margin-right:5px;
    // margin-top:5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // margin-top:5px;
    height: 50px;
    background:#323846;
    border-radius: 5px;
  
    a {
      display: block;
      font-size: 15px;
      color:#aaa;
      // margin-top: 6px;
    }
    
    .user-area {
      // margin-top:6px;
      padding-right: 16px;
      float: right;
  
      li {
        float: left;
        margin-left: 5px;
        font-size: 15px;
  
        span {
          color: #fff;
          display: block;
          // margin-top: 6px;
        }
      }
  
      img {
        height: 18px;
        // margin-top: 5px;
        border-radius: 50%;
      }
    }
  
    .setting{
      float: right;
      margin-left: 9px;
      display: none;
    }
    .add-note{
      float: left;
      margin-left: 16px;
      border: 1px solid #fff;
      border-radius: 4px;
      padding: 2px 4px;
    }
    .login{
      float: right;
      // margin-left: 5px;
    }
  
  
  }
  
  
  
  #content{
    position: relative;
    height: -webkit-calc(100% - 50px);
    height: calc(100% - 50px);
    // height:100%;
  }

  
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(96,57,224, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(96,57,224, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(96,57,224, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(96,57,224, 0.4);
      box-shadow: 0 0 0 0 rgba(96,57,224, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 15px rgba(96,57,224, 0);
        box-shadow: 0 0 0 15px rgba(96,57,224, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(96,57,224, 0);
        box-shadow: 0 0 0 0 rgba(96,57,224, 0);
    }
  }

  @keyframes move-twink-back {
      from {background-position:0 0;}
      to {background-position:-10000px 5000px;}
  }
  
  
  .stars, .twinkling{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
  }
  
